body{
    width: 98vw;
    background-color: rgb(245, 245, 245);
}
main div ,h1 ,h2, h3, h4{
    font-family: "Roboto", sans-serif;
    width: 30%;
}
h4{
    font-weight: 300; 
}
h3{
    color: rgb(200, 60, 15);
}
h2{
    font-size: large;
    width: 60%;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dessert{
    height: 480px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border: 1px solid black;
}
.img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(245, 245, 245);
}
.AddButton{
    height: 30px;
    width: 130px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);
    border-collapse: separate;
    color: black;
    font-size: 11px;
    font-weight: bold;
}

.AddButton:hover{
    border: 1px solid rgb(200, 60, 15);
    background-color: rgb(200, 60, 15);
    color: white;
}
.AddButton:hover .CartIcon, .AddButton:hover p{
    display: none;
}
.desserts{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img:hover{
    border: 2px solid rgb(200, 60, 15);
    border-collapse: collapse;
}
